.bold-text {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  display: block;
}
.main-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  display: block;
}

.subtitle {
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  font-weight: bold;
}
.service-block {
  text-align: center;
  max-width: 500px;
  margin: 500px auto;
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p, ul {
  font-size: 25px;
  line-height: 1;
  margin: auto;
  width: fit-content;
}
li {
  margin-bottom: 10px;
  text-align: left;
}
.price-block {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.price-list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}
.price-block {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
img {
  display: block;
  margin-top: 50px;
  margin-left: 750px;
  